
<div class="nav-box">
  <div class="nav-left">
   <%= title %>
  </div>
  <div class="nav-content">
    <a href="/server/home">首页</a>
    <a href="/server/category?type=category&model=TopCategory">分类管理</a>
    <a href="/server/article?type=article">文章管理</a>
    <a href="/server/user?type=user">用户管理</a>
  </div>
  <div class="nav-right">
   <a href="javascript:;"><%= user.name %></a>
   <a href="/server/signout">退出</a>
  </div>
</div>